# Javascript Node CircleCI 2.0 configuration file
version: 2

jobs:
  build:
    docker:
      - image: circleci/node:9.5

    working_directory: ~/hugo-elasticsearch

    environment:
      - NODE_ENV: production

    steps:
      - checkout

      - restore_cache:
          keys:
          - dependencies-{{ checksum "yarn.lock" }}
          - dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: dependencies-{{ checksum "yarn.lock" }}

      - run: yarn test
